<p id="notice"><%= notice %></p>

<p>
  <strong>Budget:</strong>
  <%= @movie.budget %>
</p>

<p>
  <strong>Company:</strong>
  <%= @movie.company %>
</p>

<p>
  <strong>Country:</strong>
  <%= @movie.country %>
</p>

<p>
  <strong>Director:</strong>
  <%= @movie.director %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @movie.genre %>
</p>

<p>
  <strong>Gross:</strong>
  <%= @movie.gross %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @movie.rating %>
</p>

<p>
  <strong>Released:</strong>
  <%= @movie.released %>
</p>

<p>
  <strong>Runtime:</strong>
  <%= @movie.runtime %>
</p>

<%= link_to 'Back', movies_path %>
